.range-slider {
  margin: 20px 0;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1abc9c;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #1abc9c;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #1abc9c;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #1abc9c;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.player-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.player-actions > div {
  flex: 1;
}

.btn-player {
  cursor: pointer;
  background-color: transparent;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-player:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
}

.btn-player:hover {
  border-radius: 8px;
  background-color: #fafafa;
}

.song-info {
  text-align: center;
  margin: 20px 0;
}

.song-info .song-title {
  font-size: 20px;
  color: #a81c23;
  font-weight: bold;
  margin-bottom: 12px;
  font-weight: 600;
}

.song-info .song-author {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.cover-image {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.playlist {
}

.pl-item {
  display: flex;
  padding: 16px 12px;
}

.pl-item:hover {
  border-radius: 8px;
  background-color: #ffffff6b;
}

.pl-title {
  white-space: pre-wrap;
  text-align: left;
  flex: 1;
  margin: 0 12px;
}

.pl-title .pl-title_safe {
  display: inline-block;
  position: relative;
  animation: 3s linear 0s infinite alternate advanced;
}

@keyframes advanced {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.pl-item + .pl-item {
  margin-top: 12px;
}
